<p id="notice"><%= notice %></p>

  <h2>Handle: <%= @handle.handle_name %></h2>
  </br>
  <strong>Number of Tweets:</strong>
  <%= @tweets_num %>
  </br>
  <strong>Number of Retweets:</strong>
  <%= @retweets %>
  </br>
  <strong>Number of Links:</strong>
  <%= @uris %>
  </br>
  <strong>Average Characters/Tweet:</strong>
  <%= @character_avg %>
  </br>
  </br>

<%= link_to 'Edit', edit_handle_path(@handle) %> |
<%= link_to 'Back', handles_path %>
